<body>
<h2> Feel Free to Contact Us!</h2>
<div class="contact" class="text-center">



<h3>Facebook Handle: Foodies_hub <a href="#" target="_blank"><i class="bi bi-facebook"></i></a></h3>
<h3>Instagram Handle: @foodieshub <a href="#" target="_blank"><i class="bi bi-instagram"></i></a></h3>
<h3>Contact Number: +91 9005678900 <a href="#" target="_blank"><i class="bi bi-phone"></i></a></h3>
<h3>Email ID: foodieshub@gmail.com <a href="#" target="_blank"><i class="bi bi-envelope-check-fill"></i></a></h3>
</div>
</body>


