<div class="container text-center mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Foodies Hub aims to provide healthy and tasty food at your doorstep.<br>
        We value our customers and provide the best services for them because we strongly believe to stand on the expectations of our customers.<br>
        Thank you for visiting our website and providing us the opportunity to serve you.<br>
        We are looking forward to see you soon again. <br>
        

    </p>

    <h1><i class="bi bi-emoji-smile"></i></h1>
    <h3> Good Food , Good Life</h3>
</div>
